In [1]:
#imports e bibliotecas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dados = pd.read_csv('D:\Faculdade\IC1\datasets\dados2021_2023PosMissing.csv')
dados

,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,CS_SEXO,DT_NASC,NU_IDADE_N,TP_IDADE,CS_RACA,CS_ESCOL_N,FEBRE,...,Presença de SIND_DOWN,Presença de HEPATICA,Presença de ASMA,Presença de DIABETES,Presença de NEUROLOGIC,Presença de PNEUMOPATI,Presença de IMUNODEPRE,Presença de RENAL,Presença de OBESIDADE,Presença de OUT_MORBI
0,07/01/2021,1,RJ,M,11/07/2020,6,2,9,5.0,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
1,26/01/2021,4,SP,M,18/09/2020,4,2,4,0.0,0.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
2,22/01/2021,3,SP,F,09/06/2020,7,2,5,5.0,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
3,03/02/2021,5,AM,M,14/01/2021,1,2,4,5.0,1.0,...,No,No,No,No,No,No,No,No,No,Yes
4,31/01/2021,5,TO,F,02/05/2020,8,2,4,5.0,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53184,15/05/2023,20,BA,F,23/02/2022,1,3,1,9.0,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
53185,26/06/2023,26,SC,M,30/11/2022,7,2,1,NaN,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
53186,20/07/2023,29,PR,F,10/05/2023,2,2,1,0.0,0.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
53187,31/08/2023,35,AP,M,02/08/2019,4,3,4,NaN,1.0,...,No,No,Yes,No,No,No,No,No,No,No
53188,30/07/2023,31,RS,F,17/03/2021,2,3,1,0.0,0.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing

In [3]:
dados['EVOLUCAO'].unique()
dados.loc[:,'EVOLUCAO'] = dados['EVOLUCAO'].replace(3, np.nan)

In [4]:

# Mapeando os valores
mapeamento = {0: 'Não', 1: 'Sim', None: 'Missing'}

# Criando a nova coluna usando a função map
dados['MORTE'] = dados['EVOLUCAO'].map(mapeamento)
dados

,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,CS_SEXO,DT_NASC,NU_IDADE_N,TP_IDADE,CS_RACA,CS_ESCOL_N,FEBRE,...,Presença de HEPATICA,Presença de ASMA,Presença de DIABETES,Presença de NEUROLOGIC,Presença de PNEUMOPATI,Presença de IMUNODEPRE,Presença de RENAL,Presença de OBESIDADE,Presença de OUT_MORBI,MORTE
0,07/01/2021,1,RJ,M,11/07/2020,6,2,9,5.0,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
1,26/01/2021,4,SP,M,18/09/2020,4,2,4,0.0,0.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Sim
2,22/01/2021,3,SP,F,09/06/2020,7,2,5,5.0,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Sim
3,03/02/2021,5,AM,M,14/01/2021,1,2,4,5.0,1.0,...,No,No,No,No,No,No,No,No,Yes,Missing
4,31/01/2021,5,TO,F,02/05/2020,8,2,4,5.0,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53184,15/05/2023,20,BA,F,23/02/2022,1,3,1,9.0,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Sim
53185,26/06/2023,26,SC,M,30/11/2022,7,2,1,NaN,1.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Sim
53186,20/07/2023,29,PR,F,10/05/2023,2,2,1,0.0,0.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Sim
53187,31/08/2023,35,AP,M,02/08/2019,4,3,4,NaN,1.0,...,No,Yes,No,No,No,No,No,No,No,Sim
53188,30/07/2023,31,RS,F,17/03/2021,2,3,1,0.0,0.0,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Sim

In [27]:
table1 = pd.crosstab([dados['REGIAO']],dados['EVOLUCAO'],\
            rownames = ["CATEGORIA"],\
            colnames = ["EVOLUCAO"], margins=True) 

table2 = pd.crosstab([dados['Presença de FEBRE']],dados['EVOLUCAO'],\
            rownames = ["CATEGORIA"],\
            colnames = ["EVOLUCAO"], margins=True) 

# table1 = table1.append(pd.Series(name="Febre", index=table1.columns))
# table2 = table2.append(pd.Series(name="REGIAO", index=table2.columns))

# table1.loc["Febre"] = ' '  # Adiciona uma linha de zeros para a categoria "Febre"
# table2.loc["REGIAO"] = ' '  # Adiciona uma linha de zeros para a categoria "REGIAO"

table1['CATEGORIA'] = 'REGIAO'
table2['CATEGORIA'] = 'Febre'

result_table = pd.concat([table1, table2])
# table1.to_csv('D:\Faculdade\IC1\datasets\dtabelateste.csv')
result_table

EVOLUCAO      0.0    1.0    All CATEGORIA
CATEGORIA
Centro-Oeste  137   6290   6427    REGIAO
Nordeste      157   6142   6299    REGIAO
Norte          72   1810   1882    REGIAO
Sudeste       270  20684  20954    REGIAO
Sul           230  14428  14658    REGIAO
All           866  49354  50220    REGIAO
Missing       126   5180   5306     Febre
No            305  11909  12214     Febre
Yes           435  32265  32700     Febre
All           866  49354  50220     Febre

In [11]:
table1 = pd.crosstab([dados['REGIAO']],dados['MORTE'],\
            rownames = ["REGIAO"],\
            colnames = ["MORTE"], margins=True) 

table2 = pd.crosstab([dados['Presença de FEBRE']],dados['MORTE'],\
            rownames = ["FEBRE"],\
            colnames = ["MORTE"], margins=True) 


table1.loc["REGIAO"] = ' '  # Adiciona uma linha de zeros para a categoria "Febre"
table2.loc["FEBRE"] = ' '  # Adiciona uma linha de zeros para a categoria "REGIAO"

table1 = table1.reindex(index=['REGIAO'] + table1.index.tolist()[:-1])
table2 = table2.reindex(index=['FEBRE'] + table2.index.tolist()[:-1])

result_table = pd.concat([table1, table2])
result_table

MORTE        Missing  Não    Sim    All
REGIAO
Centro-Oeste     220  137   6290   6647
Nordeste         766  157   6142   7065
Norte            110   72   1810   1992
Sudeste         1279  270  20684  22233
Sul              594  230  14428  15252
All             2969  866  49354  53189
FEBRE
Missing          431  126   5180   5737
No               636  305  11909  12850
Yes             1902  435  32265  34602
All             2969  866  49354  53189

In [12]:
def generate_crosstab(df, column, other_column):
    table = pd.crosstab([df[column]], df[other_column],\
                        rownames=[column],\
                        colnames=[other_column], margins=True)
    table.loc[column] = ' '
    table = table.reindex(index=[column] + table.index.tolist()[:-1])
    return table

# Lista de colunas que você deseja analisar
colunas_analisadas = ['REGIAO', 'Presença de FEBRE', 'Presença de TOSSE']

# Lista para armazenar as tabelas cruzadas geradas
tabelas = []

# Gerar tabelas cruzadas para cada coluna
for coluna in colunas_analisadas:
    tabela = generate_crosstab(dados, coluna, 'MORTE')
    tabelas.append(tabela)

result_table = pd.concat(tabelas)

print(result_table)

MORTE             Missing  Não    Sim    All
REGIAO
Centro-Oeste          220  137   6290   6647
Nordeste              766  157   6142   7065
Norte                 110   72   1810   1992
Sudeste              1279  270  20684  22233
Sul                   594  230  14428  15252
All                  2969  866  49354  53189
Presença de FEBRE
Missing               431  126   5180   5737
No                    636  305  11909  12850
Yes                  1902  435  32265  34602
All                  2969  866  49354  53189
Presença de TOSSE
Missing               162   89   1986   2237
No                    200  147   3072   3419
Yes                  2607  630  44296  47533
All                  2969  866  49354  53189

In [7]:
def generate_crosstab(df, column, other_column):
    # Tabela de valores absolutos
    table_absolute = pd.crosstab([df[column]], df[other_column],\
                                 rownames=[column],\
                                 colnames=[other_column], margins=True)
    table_absolute.loc[column] = ' '
    table_absolute = table_absolute.reindex(index=[column] + table_absolute.index.tolist()[:-1])

    # Tabela de valores percentuais apenas nas colunas correspondentes
    table_percent = pd.crosstab([df[column]], df[other_column],\
                                rownames=[column],\
                                colnames=[other_column], margins=True, normalize='index') * 100

    # Adicionar sufixo '_PERCENT' para distinguir as colunas percentuais
    table_percent.columns = [f"{col}_PERCENT" for col in table_percent.columns]
    table_percent.loc[column] = ' '
    table_percent = table_percent.reindex(index=[column] + table_percent.index.tolist()[:-1])

    return pd.concat([table_absolute, table_percent], axis=1)

# Lista de colunas que você deseja analisar
colunas_analisadas = ['REGIAO', 'Presença de FEBRE', 'Presença de TOSSE']

# Lista para armazenar as tabelas cruzadas geradas
tabelas = []

# Gerar tabelas cruzadas para cada coluna
for coluna in colunas_analisadas:
    tabela = generate_crosstab(dados, coluna, 'MORTE')
    tabelas.append(tabela)

# Concatenar todas as tabelas
result_table = pd.concat(tabelas)


print(result_table)

                  Missing  Não    Sim    All Missing_PERCENT Não_PERCENT  \
REGIAO
Centro-Oeste          220  137   6290   6647        3.309764     2.06108
Nordeste              766  157   6142   7065        10.84218    2.222222
Norte                 110   72   1810   1992        5.522088    3.614458
Sudeste              1279  270  20684  22233         5.75271    1.214411
Sul                   594  230  14428  15252        3.894571    1.507999
All                  2969  866  49354  53189        5.581981    1.628156
Presença de FEBRE
Missing               431  126   5180   5737        7.512637     2.19627
No                    636  305  11909  12850        4.949416    2.373541
Yes                  1902  435  32265  34602        5.496792    1.257153
All                  2969  866  49354  53189        5.581981    1.628156
Presença de TOSSE
Missing               162   89   1986   2237        7.241842    3.978543
No                    200  147   3072   3419        5.849664    4.299503
Yes                  2607  630  44296  47533        5.484611    1.325395
All                  2969  866  49354  53189        5.581981    1.628156

                  Sim_PERCENT
REGIAO
Centro-Oeste        94.629156
Nordeste            86.935598
Norte               90.863454
Sudeste             93.032879
Sul                  94.59743
All                 92.789863
Presença de FEBRE
Missing             90.291093
No                  92.677043
Yes                 93.246055
All                 92.789863
Presença de TOSSE
Missing             88.779616
No                  89.850834
Yes                 93.189994
All                 92.789863

In [12]:
table1 = pd.crosstab([dados['REGIAO'],dados['FAIXA_ETARIA']],dados['Presença de FEBRE'],\
            rownames = ["REGIAO","FAIXA_ETARIA"],\
            colnames = ["FEBRE"], normalize='index') * 100

print(table1)
#table1.to_csv('tableFebre.csv', encoding='utf-8')

FEBRE                           Missing         No        Yes
REGIAO       FAIXA_ETARIA
Centro-Oeste 0 a 6 meses       9.918033  26.010929  64.071038
             1 a 4 anos        3.850932   6.708075  89.440994
             4 a 6 anos       10.828025  10.828025  78.343949
             6 a 9 anos        8.139535  15.116279  76.744186
             6 meses a 1 ano   5.083767   8.434431  86.481802
             60 a 70 anos      9.836066  32.786885  57.377049
             70 a 80 anos      1.492537  55.223881  43.283582
             80 anos ou mais   8.064516  43.548387  48.387097
             9 a 12 anos      11.111111  22.222222  66.666667
Nordeste     0 a 6 meses       9.963580  26.768991  63.267430
             1 a 4 anos        5.359179   7.525656  87.115165
             4 a 6 anos        3.488372  14.534884  81.976744
             6 a 9 anos        4.464286  25.000000  70.535714
             6 meses a 1 ano   4.451683   9.717698  85.830619
             60 a 70 anos     19.565217  45.652174  34.782609
             70 a 80 anos     32.075472  33.962264  33.962264
             80 anos ou mais  15.909091  35.227273  48.863636
             9 a 12 anos      25.806452  22.580645  51.612903
Norte        0 a 6 meses       6.436990  17.588395  75.974615
             1 a 4 anos        1.630435   6.521739  91.847826
             4 a 6 anos        5.405405   5.405405  89.189189
             6 a 9 anos        8.695652   4.347826  86.956522
             6 meses a 1 ano   2.698145   6.239460  91.062395
             60 a 70 anos     18.750000  25.000000  56.250000
             70 a 80 anos     27.272727   9.090909  63.636364
             80 anos ou mais  12.500000  12.500000  75.000000
             9 a 12 anos       0.000000  11.111111  88.888889
Sudeste      0 a 6 meses      14.655387  35.481463  49.863150
             1 a 4 anos        6.762390  12.598425  80.639185
             4 a 6 anos        8.366534  22.310757  69.322709
             6 a 9 anos       12.162162  16.891892  70.945946
             6 meses a 1 ano   8.060597  14.992139  76.947263
             60 a 70 anos     23.333333  38.888889  37.777778
             70 a 80 anos     18.543046  48.344371  33.112583
             80 anos ou mais  24.166667  41.250000  34.583333
             9 a 12 anos      24.000000  22.000000  54.000000
Sul          0 a 6 meses      14.769745  33.870198  51.360057
             1 a 4 anos        6.610499  12.054439  81.335062
             4 a 6 anos        7.048458  17.180617  75.770925
             6 a 9 anos        9.756098  20.325203  69.918699
             6 meses a 1 ano   8.292323  12.376969  79.330709
             60 a 70 anos     17.216117  43.589744  39.194139
             70 a 80 anos     16.783217  46.503497  36.713287
             80 anos ou mais  26.250000  41.875000  31.875000
             9 a 12 anos      11.764706  32.352941  55.882353

In [17]:
table1 = pd.crosstab([dados['REGIAO'],dados['FAIXA_ETARIA']],dados['Presença de FEBRE'], normalize='index') * 100
table1.columns = [f'Febre_{col}' for col in table1.columns]

table2 = pd.crosstab([dados['REGIAO'],dados['FAIXA_ETARIA']],dados['Presença de TOSSE'], normalize='index') * 100
table2.columns = [f'Tosse_{col}' for col in table2.columns]

table3 = pd.crosstab([dados['REGIAO'],dados['FAIXA_ETARIA']],dados['Presença de GARGANTA'], normalize='index') * 100
table3.columns = [f'Garganta_{col}' for col in table3.columns]

combined_table = pd.concat([table1, table2, table3], axis=1)

combined_table.to_csv('combined_table.csv', encoding='utf-8')

print(combined_table)

                              Febre_Missing   Febre_No  Febre_Yes  \
REGIAO       FAIXA_ETARIA
Centro-Oeste 0 a 6 meses           9.918033  26.010929  64.071038
             1 a 4 anos            3.850932   6.708075  89.440994
             4 a 6 anos           10.828025  10.828025  78.343949
             6 a 9 anos            8.139535  15.116279  76.744186
             6 meses a 1 ano       5.083767   8.434431  86.481802
             60 a 70 anos          9.836066  32.786885  57.377049
             70 a 80 anos          1.492537  55.223881  43.283582
             80 anos ou mais       8.064516  43.548387  48.387097
             9 a 12 anos          11.111111  22.222222  66.666667
Nordeste     0 a 6 meses           9.963580  26.768991  63.267430
             1 a 4 anos            5.359179   7.525656  87.115165
             4 a 6 anos            3.488372  14.534884  81.976744
             6 a 9 anos            4.464286  25.000000  70.535714
             6 meses a 1 ano       4.451683   9.717698  85.830619
             60 a 70 anos         19.565217  45.652174  34.782609
             70 a 80 anos         32.075472  33.962264  33.962264
             80 anos ou mais      15.909091  35.227273  48.863636
             9 a 12 anos          25.806452  22.580645  51.612903
Norte        0 a 6 meses           6.436990  17.588395  75.974615
             1 a 4 anos            1.630435   6.521739  91.847826
             4 a 6 anos            5.405405   5.405405  89.189189
             6 a 9 anos            8.695652   4.347826  86.956522
             6 meses a 1 ano       2.698145   6.239460  91.062395
             60 a 70 anos         18.750000  25.000000  56.250000
             70 a 80 anos         27.272727   9.090909  63.636364
             80 anos ou mais      12.500000  12.500000  75.000000
             9 a 12 anos           0.000000  11.111111  88.888889
Sudeste      0 a 6 meses          14.655387  35.481463  49.863150
             1 a 4 anos            6.762390  12.598425  80.639185
             4 a 6 anos            8.366534  22.310757  69.322709
             6 a 9 anos           12.162162  16.891892  70.945946
             6 meses a 1 ano       8.060597  14.992139  76.947263
             60 a 70 anos         23.333333  38.888889  37.777778
             70 a 80 anos         18.543046  48.344371  33.112583
             80 anos ou mais      24.166667  41.250000  34.583333
             9 a 12 anos          24.000000  22.000000  54.000000
Sul          0 a 6 meses          14.769745  33.870198  51.360057
             1 a 4 anos            6.610499  12.054439  81.335062
             4 a 6 anos            7.048458  17.180617  75.770925
             6 a 9 anos            9.756098  20.325203  69.918699
             6 meses a 1 ano       8.292323  12.376969  79.330709
             60 a 70 anos         17.216117  43.589744  39.194139
             70 a 80 anos         16.783217  46.503497  36.713287
             80 anos ou mais      26.250000  41.875000  31.875000
             9 a 12 anos          11.764706  32.352941  55.882353

                              Tosse_Missing   Tosse_No  Tosse_Yes  \
REGIAO       FAIXA_ETARIA
Centro-Oeste 0 a 6 meses           3.497268   6.202186  90.300546
             1 a 4 anos            3.478261   5.341615  91.180124
             4 a 6 anos            6.369427   5.095541  88.535032
             6 a 9 anos            5.813953   9.302326  84.883721
             6 meses a 1 ano       4.043905   3.350664  92.605430
             60 a 70 anos          8.196721  16.393443  75.409836
             70 a 80 anos          4.477612  14.925373  80.597015
             80 anos ou mais       1.612903  24.193548  74.193548
             9 a 12 anos          16.666667   0.000000  83.333333
Nordeste     0 a 6 meses           2.393340   5.749220  91.857440
             1 a 4 anos            3.078677   4.903079  92.018244
             4 a 6 anos            3.488372   4.651163  91.860465
             6 a 9 anos            4.464286   9.821429  85.714286
             6 meses a 1 ano       2.334419   3.691640  93.973941
             60 a 70 anos          8.695652  15.217391  76.086957
             70 a 80 anos         18.867925   9.433962  71.698113
             80 anos ou mais       7.954545   9.090909  82.954545
             9 a 12 anos           9.677419   9.677419  80.645161
Norte        0 a 6 meses           3.082502   6.527652  90.389846
             1 a 4 anos            2.173913   3.260870  94.565217
             4 a 6 anos            2.702703   5.405405  91.891892
             6 a 9 anos            4.347826  17.391304  78.260870
             6 meses a 1 ano       2.698145   2.866779  94.435076
             60 a 70 anos         12.500000   6.250000  81.250000
             70 a 80 anos          9.090909  18.181818  72.727273
             80 anos ou mais       0.000000  12.500000  87.500000
             9 a 12 anos           0.000000  11.111111  88.888889
Sudeste      0 a 6 meses           4.014266   6.228747  89.756988
             1 a 4 anos            4.400185   6.021306  89.578509
             4 a 6 anos            3.984064   9.561753  86.454183
             6 a 9 anos            5.405405  10.810811  83.783784
             6 meses a 1 ano       3.615835   5.502358  90.881806
             60 a 70 anos         15.555556  13.888889  70.555556
             70 a 80 anos          9.271523  13.907285  76.821192
             80 anos ou mais      11.250000  14.166667  74.583333
             9 a 12 anos          10.000000  14.000000  76.000000
Sul          0 a 6 meses           5.308995   7.301360  87.389644
             1 a 4 anos            4.342191   8.360337  87.297472
             4 a 6 anos           10.132159   7.929515  81.938326
             6 a 9 anos            8.943089  12.195122  78.861789
             6 meses a 1 ano       4.601378   6.200787  89.197835
             60 a 70 anos          5.860806  18.315018  75.824176
             70 a 80 anos          7.342657  14.685315  77.972028
             80 anos ou mais      10.312500  14.375000  75.312500
             9 a 12 anos           2.941176   5.882353  91.176471

                              Garganta_Missing  Garganta_No  Garganta_Yes
REGIAO       FAIXA_ETARIA
Centro-Oeste 0 a 6 meses             28.032787    69.153005      2.814208
             1 a 4 anos              31.552795    57.888199     10.559006
             4 a 6 anos              31.210191    59.872611      8.917197
             6 a 9 anos              29.069767    55.813953     15.116279
             6 meses a 1 ano         30.098209    64.067013      5.834778
             60 a 70 anos            19.672131    63.934426     16.393443
             70 a 80 anos             8.955224    73.134328     17.910448
             80 anos ou mais         14.516129    70.967742     14.516129
             9 a 12 anos             33.333333    55.555556     11.111111
Nordeste     0 a 6 meses             30.332986    62.851197      6.815817
             1 a 4 anos              25.313569    60.889396     13.797035
             4 a 6 anos              21.511628    62.209302     16.279070
             6 a 9 anos              18.750000    64.285714     16.964286
             6 meses a 1 ano         26.167210    62.920738     10.912052
             60 a 70 anos            23.913043    60.869565     15.217391
             70 a 80 anos            39.622642    39.622642     20.754717
             80 anos ou mais         28.409091    60.227273     11.363636
             9 a 12 anos             29.032258    61.290323      9.677419
Norte        0 a 6 meses             25.747960    63.281958     10.970082
             1 a 4 anos              21.195652    48.913043     29.891304
             4 a 6 anos              24.324324    40.540541     35.135135
             6 a 9 anos              30.434783    39.130435     30.434783
             6 meses a 1 ano         21.922428    57.841484     20.236088
             60 a 70 anos            37.500000    43.750000     18.750000
             70 a 80 anos            27.272727    45.454545     27.272727
             80 anos ou mais         25.000000    43.750000     31.250000
             9 a 12 anos             11.111111    55.555556     33.333333
Sudeste      0 a 6 meses             33.134279    64.137016      2.728705
             1 a 4 anos              36.683650    56.878184      6.438166
             4 a 6 anos              31.474104    60.159363      8.366534
             6 a 9 anos              33.108108    54.729730     12.162162
             6 meses a 1 ano         34.829213    61.654995      3.515792
             60 a 70 anos            31.111111    55.555556     13.333333
             70 a 80 anos            22.516556    62.913907     14.569536
             80 anos ou mais         33.750000    60.416667      5.833333
             9 a 12 anos             40.000000    56.000000      4.000000
Sul          0 a 6 meses             31.448342    66.165593      2.386065
             1 a 4 anos              29.034349    62.086844      8.878808
             4 a 6 anos              34.801762    55.947137      9.251101
             6 a 9 anos              29.268293    62.601626      8.130081
             6 meses a 1 ano         32.627953    62.795276      4.576772
             60 a 70 anos            22.710623    62.271062     15.018315
             70 a 80 anos            23.076923    61.888112     15.034965
             80 anos ou mais         31.562500    61.250000      7.187500
             9 a 12 anos             29.411765    61.764706      8.823529

In [11]:
# Suponha que 'symptom1', 'symptom2', 'symptom3', ... são suas colunas de sintomas
symptom_columns = ['FEBRE', 'TOSSE', 'GARGANTA']  # Substitua pelos nomes reais de suas colunas

# Derreta as colunas de sintomas em uma única coluna
df_melted = pd.melt(dados, id_vars=['REGIAO', 'FAIXA_ETARIA'], value_vars=symptom_columns, var_name='symptom', value_name='value')

# Crie a tabela cruzada
table4 = pd.crosstab([df_melted['REGIAO'], df_melted['FAIXA_ETARIA']], df_melted['symptom'],\
                     values=df_melted['value'], aggfunc='sum', rownames=["region", "age group"], colnames=["symptom"])

# Normalize se desejar (opcional)
table4_normalized = table4.div(table4.sum(axis=1), axis=0) * 100

print(table4_normalized)

symptom                           FEBRE   GARGANTA      TOSSE
region       age group
Centro-Oeste 0 a 6 meses      40.761342   1.790370  57.448288
             1 a 4 anos       46.783626   5.523067  47.693307
             4 a 6 anos       44.565217   5.072464  50.362319
             6 a 9 anos       43.421053   8.552632  48.026316
             6 meses a 1 ano  46.766635   3.155264  50.078101
             60 a 70 anos     38.461538  10.989011  50.549451
             70 a 80 anos     30.526316  12.631579  56.842105
             80 anos ou mais  35.294118  10.588235  54.117647
             9 a 12 anos      41.379310   6.896552  51.724138
Nordeste     0 a 6 meses      39.068273   4.208835  56.722892
             1 a 4 anos       45.153664   7.151300  47.695035
             4 a 6 anos       43.119266   8.562691  48.318043
             6 a 9 anos       40.721649   9.793814  49.484536
             6 meses a 1 ano  45.004270   5.721605  49.274125
             60 a 70 anos     27.586207  12.068966  60.344828
             70 a 80 anos     26.865672  16.417910  56.716418
             80 anos ou mais  34.126984   7.936508  57.936508
             9 a 12 anos      36.363636   6.818182  56.818182
Norte        0 a 6 meses      42.842536   6.186094  50.971370
             1 a 4 anos       42.462312  13.819095  43.718593
             4 a 6 anos       41.250000  16.250000  42.500000
             6 a 9 anos       44.444444  15.555556  40.000000
             6 meses a 1 ano  44.262295   9.836066  45.901639
             60 a 70 anos     36.000000  12.000000  52.000000
             70 a 80 anos     38.888889  16.666667  44.444444
             80 anos ou mais  38.709677  16.129032  45.161290
             9 a 12 anos      42.105263  15.789474  42.105263
Sudeste      0 a 6 meses      35.028841   1.916914  63.054245
             1 a 4 anos       45.647614   3.644468  50.707918
             4 a 6 anos       42.233010   5.097087  52.669903
             6 a 9 anos       42.510121   7.287449  50.202429
             6 meses a 1 ano  44.907832   2.051881  53.040287
             60 a 70 anos     31.050228  10.958904  57.990868
             70 a 80 anos     26.595745  11.702128  61.702128
             80 anos ou mais  30.072464   5.072464  64.855072
             9 a 12 anos      40.298507   2.985075  56.716418
Sul          0 a 6 meses      36.390533   1.690617  61.918850
             1 a 4 anos       45.819642   5.001825  49.178532
             4 a 6 anos       45.382586   5.540897  49.076517
             6 a 9 anos       44.559585   5.181347  50.259067
             6 meses a 1 ano  45.828003   2.643923  51.528074
             60 a 70 anos     30.140845  11.549296  58.309859
             70 a 80 anos     28.301887  11.590296  60.107817
             80 anos ou mais  27.868852   6.284153  65.846995
             9 a 12 anos      35.849057   5.660377  58.490566